# =========================
# Compiled output
# =========================
*.exe
*.o
*.ppu
*.a
*.out

# =========================
# Backup / temp files
# =========================
*~
*.bak
*.tmp

# =========================
# Logs
# =========================
*.log

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor settings (optional)
# =========================
.vscode/
.idea/